.about{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-image{
    width: 100%;
    padding: 0 40px;
}
 .about-text-container{
    margin: 0 2rem;
 }
 .about-text-container h2 {
    margin: 1rem 2rem 1.5rem 0.5rem;
 }
 .about-text-container p {
    margin: 1rem 2rem 1.5rem 0.5rem;
 }
 .about-text-container a{
    margin: 1rem 2rem 1.5rem 0.5rem;
    text-decoration: none;
    color: #b18672;
 }